<script src="isotope.js"></script>
<script src="script.js"></script>

  <footer>
    <div id="menu">
      <nav>
        <ul>
          <li><a href="/"><div id="home"> <img src="/images/home.svg" alt="home"></div></a></li>
          <li><a href="/portfolio"><div id="location"><img src="/images/location.svg" alt="location"></div></a></li>
          <li><a href="/contact"><div id="settings"><img src="/images/settings.svg" alt="settings"></div></a></li>
        </ul>
      </nav>
    </div>


  </footer>
</body>
</html>
