<%- include('header'); -%>

<%- include('nav'); -%>
<p class="in" >in the picture...</p>
<p class="name" >TIM</p>
<p class="description" >Amboseli Kenya, 2019</p>
<img class="vierhome" src="/images/4.2.jpg" alt="" width="100%"/>
<a id="link" href="#">online heroku</a>
<p id="scherm">405 x 662</p>
<%- include('footer'); -%>
